{% extends 'users.html' %}

{% block content %}
    <h2>Edit Users</h2>
    <form action="{{ url_for('users.update', id=user.id) }}" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ user.username }}"><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="{{ user.email }}"><br><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <label for="role">Role:</label><br>
        <input type="text" id="role" name="role" value="{{ user.role }}"><br><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}