<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Project Test</title>
        <link rel="stylesheet" href="../static/css/navbar_style.css">
    </head>
    <body> 
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
        </nav>
        <br /> <br /> <br /> 
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <!--<p>&copy; 2024</p>-->
        </footer>
    </body>
</html>